/* Global CSS */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header section CSS */

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 8rem;
}

.header-logo {
    font-size: 24px;
    color: #f8faf8;
    font-weight: 800;
}

.header-links {
    display: flex;
    list-style: none;
}

.header-links a {
    text-decoration: none;
    font-size: 14px;
    color: #e5e7eb;
    margin-left: 2rem;
}

/* Hero section */

.hero-section {
    color: #fff;
    background-color: #1f2937;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    padding: 50px 8rem 100px 8rem;
}

.left-side {                        /* Left side of Hero section */
    width: 50%;
    margin: 0;
    padding: 0;
}

.awesome-text {
    font-weight: 900;
    margin: 0 0 10px 0;
}

.secondary-awesome-text {
    margin: 0;
}

.left-side button {
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    margin-top: 10px;
    background-color: #3882f6;
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 5px;
}

.right-side {                       /* Right side of Hero section */
    width: 50%;
}

.right-side img {
    background-color: gray;
    width: 350px;
    height: 175px;
}