/* Global CSS */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 16px 8rem;
}

.header-logo {
    font-size: 24px;
    color: #f8faf8;
}

.header-links {
    display: flex;
    list-style: none;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}