/* Global CSS */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header section CSS */

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 28rem;
}

.header-logo {
    font-size: 24px;
    color: #f8faf8;
    font-weight: 800;
}

.header-links {
    display: flex;
    list-style: none;
}

.header-links a {
    text-decoration: none;
    font-size: 14px;
    color: #e5e7eb;
    margin-left: 2rem;
}

/* Hero section */

.hero-section {
    color: #fff;
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 50px 28rem;
}

.awesome-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0 0 10px 0;
}

.secondary-awesome-text {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.left-side button {
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    margin-top: 10px;
    background-color: #3882f6;
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 5px;
}

.right-side img {
    background-color: gray;
    width: 400px;
    height: auto;
}

/* Random information section */

.random-section {
    text-align: center;
    margin: 5rem 0;
}

.random-header {
    font-size: 36px;
    font-weight: 900;
}

.random-squares {
    display: flex;
    justify-content: center;
    margin: 0 8rem;
    gap: 48px;
}

.square {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.square img {
    max-width: 200px;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.square p {
    max-width: 200px;
    margin-top: 6px;
}

/* Quote section */

.quote-section {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 5px;
}

.who-quote {
    font-weight: 900;
    font-size: 24px;
    float: right;
    margin-top: 5px;
}

.quote-container {
    padding: 8rem 28rem;
}

/* Call to Action section */

.call-box {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    margin: 5rem 32rem;
    padding: 3rem 2rem;
    border-radius: 16px;
}

.box-text {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.call-box-bold, .call-box-text {
    padding: 0;
    margin: 1px 0;
    color: #fff;
}

.call-box-bold {
    font-weight: 800;
}

.call-box-text {
    font-weight: 100;
}

.sign-up-button {
    background-color: #3882f6;
    border: 2px solid #fff;
    color: #fff;
    padding: 3px 32px;
    border-radius: .5rem;
}

/* Footer section */

.footer {
    width: 100%;
    color: #fff;
    background-color: #1F2937;
    text-align: center;
    padding: 1rem;
}

